.idea

.vagrant
/logs/*
!/logs/readme.txt

/www/underscores4wplib.dev/www/wp/

# underscores
/www/underscores4wplib.dev/www/*
!/www/underscores4wplib.dev/www/index.php
!/www/underscores4wplib.dev/www/wp-config.php
!/www/underscores4wplib.dev/www/content/

# underscores content
/www/underscores4wplib.dev/www/content/*

# underscores mu-plugins
!/www/underscores4wplib.dev/www/content/mu-plugins/
/www/underscores4wplib.dev/www/content/mu-plugins/*
!/www/underscores4wplib.dev/www/content/mu-plugins/plugin-loader.php

/www/underscores4wplib.dev/www/content/plugins/*
/www/underscores4wplib.dev/www/content/themes/*