.idea

/sql/*
!/sql/default.sql
IP
.vagrant
/scripts

/www/content/*
!/www/content/

/www/content/mu-plugins/*
!/www/content/mu-plugins

/www/content/plugins/*
!/www/content/plugins

/www/content/theme/*
!/www/content/themes
