.idea

.vagrant
/logs/*

# puppet
/puppet/*
!/puppet/Puppetfile
!/puppet/Puppetfile.lock
!/puppet/manifests/
!/puppet/modules
/puppet/modules/*
!/puppet/modules/php
!/puppet/modules/wplibbox
!/puppet/modules/underscores4wplib

# underscores
/www/underscores4wplib/www/*
!/www/underscores4wplib/www/index.php
!/www/underscores4wplib/www/wp-config.php
!/www/underscores4wplib/www/content/

# underscores content
/www/underscores4wplib/www/content/*

# underscores mu-plugins
!/www/underscores4wplib/www/content/mu-plugins/
/www/underscores4wplib/www/content/mu-plugins/*
!/www/underscores4wplib/www/content/mu-plugins/plugin-loader.php

